body
{
    font-family: Arial;
}
.no
{
    color: darkgreen;
    text-align: center;
}
.no img
{
    width:50px;
    height:50px;
    vertical-align: middle;
}
.pagetitle
{
    color: darkblue;
    text-align: left;
}
.pagetitle img
{
    width:30px;
    height:30px;
    vertical-align: middle;
}
.nav
{
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
}
.nav li
{
    display: inline;
    margin-right: 10px;
    color:white;
    font-weight: bold;
    padding: 10px;
}
.nav li:hover
{
    background-color: darkgreen;
    color: black;
    transition: 1s all;
}
.no1
{
    text-align: center;
    height:500px;
    background-size: 100%;
    border-bottom: 4px solid;
    background-color: lightgray;
    color: blue;
}
.no1 img
{
    width:400px;
    height:400px;
    vertical-align: middle;
}
.table
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}